<section class="col-md-8">
    <article class="row well" ng-repeat="ad in ads">
        <div class="col-md-3">
            <img ng-src="img/defaultImage.jpg" real-src="{{ad.imageDataUrl}}" alt="no image" class="img-responsive img-rounded"/>
        </div>
        <div class="col-md-9">
            <div class="row well well-sm">
                <div>{{ad.text}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 v-center">Name: </div>
                <div class="col-md-10 well well-sm">{{ad.ownerName}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 v-center">Email: </div>
                <div class="col-md-10 well well-sm">{{ad.ownerEmail}}</div>
            </div>
            <div class="row">
                <div class="col-md-2 v-center">Phone: </div>
                <div class="col-md-10 well well-sm">{{ad.ownerPhone}}</div>
            </div>
        </div>
    </article>
    <div class="row text-center">
        <div pagination class="pagination" ng-model="selectedPage" ng-change="loadAds()" total-items="totalAds" items-per-page=5 max-size=5 boundary-links="true"></div>
    </div>
</section>

<aside class="col-md-2">
    <div class="well">
        <h3>Categories</h3>
        <ul class="list-unstyled">
            <li><a href ng-click="categoryChanged('')" ng-class="{selectedItem: !selectedCategory}">All</a></li>
            <li ng-repeat="category in categories">
                <a href ng-click="categoryChanged(category.id)" ng-class="{selectedItem: selectedCategory === category.id}" >{{category.name}}</a>
            </li>
        </ul>
    </div>
    <div class="well">
        <h3>Towns</h3>
        <ul class="list-unstyled">
            <li><a href ng-click="townChanged('')" ng-class="{selectedItem: !selectedTown}">All</a></li>
            <li ng-repeat="town in towns">
                <a href ng-click="townChanged(town.id)" ng-class="{selectedItem: selectedTown === town.id}">{{town.name}}</a>
            </li>
        </ul>
    </div>
</aside>