<section class="col-md-10">
    <article class="row well" ng-repeat="ad in ads">
        <div class="col-md-3">
            <img ng-src="img/default-image.jpg" real-src="{{ad.imageDataUrl}}" alt="no image" class="img-responsive img-rounded"/>
        </div>
        <div class="col-md-6">
            <div class="row well well-sm">
                <div>{{ad.text}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 v-center">Category: </div>
                <div class="col-md-9 well well-sm">{{ad.categoryName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3 v-center">Town: </div>
                <div class="col-md-9 well well-sm">{{ad.townName}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 v-center">Status: </div>
                <div class="col-md-8 well well-sm">{{ad.status}}</div>
            </div>
            <div class="row" ng-hide="adIsInactive(ad)">
                <div class="col-md-8 col-md-offset-4">
                    <button class="btn btn-primary btn-block" ng-click="deactivateAd(ad)">Deactivate</button>
                </div>
            </div>
            <div class="row" ng-show="adIsInactive(ad)">
                <div class="col-md-8 col-md-offset-4 form-group">
                    <button class="btn btn-primary btn-block">Edit</button>
                </div>
            </div>
            <div class="row" ng-show="adIsInactive(ad)">
                <div class="col-md-8 col-md-offset-4 form-group">
                    <button class="btn btn-primary btn-block">Publish Again</button>
                </div>
            </div>
            <div class="row" ng-show="adIsInactive(ad)">
                <div class="col-md-8 col-md-offset-4">
                    <button class="btn btn-primary btn-block">Delete</button>
                </div>
            </div>
        </div>
    </article>
    <div class="row text-center">
        <div pagination class="pagination" ng-model="selectedPage" ng-change="loadAds()" total-items="totalAds" items-per-page=4 max-size=5 boundary-links="true"></div>
    </div>
</section>