<section class="col-md-offset-2 col-md-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{baseItem}}</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.username}}</td>
                <td>
                    {{newName}}
                    <a href>Edit</a>&nbsp;
                    <a href confirm-click="deleteItem(item)" confirm-message="Are you sure you want to delete '{{item.username}}'?">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button class="btn btn-primary">Create New {{baseItem}}</button>
    </div>
    <div class="row text-center">
        <div pagination class="pagination" ng-model="selectedPage" ng-change="loadItems()" total-items="totalItems" items-per-page=10 max-size=7 boundary-links="true"></div>
    </div>
</section>