<form class="col-md-7 col-lg-6 col-lg-offset-2 col-md-offset-1 well" id="new-ad-form">
    <h3 class="text-center" ng-if="!editAd">Publish New Ad</h3>
    <h3 class="text-center" ng-if="editAd">Edit Ad</h3>
    <div class="form-group row">
        <div class="col-sm-4 col-sm-push-8 text-center">
            <img ng-src="images/default-image.jpg" real-src="{{currentAd.imageDataUrl}}" alt="no image" class="form-group img-responsive img-rounded"/>
            <label class="btn btn-primary btn-block" for="img-selector">
                <input type="file" id="img-selector" class="form-control" file-select="onFileSelect($files)" ng-model="currentAd.imageDataUrl">
                Browse
            </label>
            <button type="button" class="btn btn-default btn-block" ng-click="removeImage()">Remove Image</button>
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="title" class="v-center">Title: </label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="currentAd.title">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="new-ad-text" class="v-center">Text: </label>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" id="new-ad-text" placeholder="Text" ng-model="currentAd.text"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="category" class="v-center">Category: </label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" id="category" ng-model="currentAd.categoryId" ng-options="category.id as category.name for category in categories">
                        <option selected value>--- Select Category ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="town" class="v-center">Town: </label>
                </div>
                <div class="col-md-9">
                    <select class="form-control" id="town" ng-model="currentAd.townId" ng-options="town.id as town.name for town in towns">
                        <option selected value>--- Select Town ---</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-5 col-md-offset-3 form-group">
                    <button type="submit" class="btn btn-primary btn-block" ng-if="!editAd" ng-click="publishAd()">Publish</button>
                    <button type="submit" class="btn btn-primary btn-block" ng-if="editAd" ng-click="editAd()">Edit</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-block" ng-if="!editAd" ng-click="clearForm()">Clear</button>
                    <button type="button" class="btn btn-default btn-block" ng-if="editAd" ng-click="resetForm()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>