.v-center {
    line-height: 280%;
}

.selectedItem {
    color: #97310e;
    text-decoration: underline;
}

#edit-profile-form {
    margin-right: 1%;
}

#new-ad-text {
    resize: none;
    height: 120px;
}

#img-selector {
    display: none;
}
